body {
  margin: 0;
  padding: 0;
  background-image: url(../img/pizza6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.container{
  background-color: black;
  border-radius: 10px;
  height:1000px;
  width: 600px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 400px;
}
#principio{
  height: 120px;
} 
#legal{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  margin-left: 300px;
  width: 60%;
}

#titulolegal{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  height: 60px;
}

h1{
  text-align: center;

}
h1:hover{
  transform:scale(1.2); transition: all 0.7s;
}

#espacio{
  height: 80px;
}

#fotologo {
  text-align: center; 
}

#logof {
  width: 500px; 
  height: auto;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}



