body {
  margin: 0;
  padding: 0;
  background-image: url(../img/pizza6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#legal{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 300px;
  width: 60%;
  height: 1000px;
}

#titulolegal{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  height: 60px;
}

h1{
  text-align: center;

}
h1:hover{
  transform:scale(1.2); transition: all 0.7s;
}

#fotologo {
  margin-bottom: 120px;
  text-align: center; 
}

#logof {
  height: 380px;
  width: 380px;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

#margenes {
  padding-left: 30px; 
  padding-right: 30px; 
}

@media (max-width: 768px) {
  #legal{
    margin-left: 75px;
    height: 1150px;
    width: 80%;
  }

  #logof{
    height: 320px;
    width: 320px;
  }
}

@media (max-width: 540px) {
  #legal{
    margin-left: 20px;
    height: 1700px;
    width: 90%;
  }

  #logof{
    height: 200px;
    width: 200px;
  }
}


