@font-face {
  font-family: pizzeria;
  src: url(Hagin\ Caps\ Medium.otf);
}

* {
  font-family: pizzeria;

}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../img/pizzacarta2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */
#menufoto {
  width: 250px;
  height: 430px;
}

#menufoto:hover {
  transform:scale(1.2); transition: all 0.7s;
}

.contenedor{
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 100px;
}

@media (max-width: 500px) {
  #menufoto {
    width: 150px;
    height: 230px;
  }
  .contenedor{
    margin-bottom: 100px;
    align-items: center;
  }

}

@media (min-width: 501px) and (max-width: 800px){
  #menufoto {
    width: 280px;
    height: 400px;
  }
 }