@font-face {
  font-family: pizzeria;
  src: url(Hagin\ Caps\ Medium.otf);
}

* {
  font-family: pizzeria;

}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../img/pizzacarta2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */
#menufoto {
  width: 250px;
  height: 430px;
}

#menufoto:hover {
  transform:scale(1.2); transition: all 0.7s;
}

.contenedor{
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 100px;
}

.row{
  margin-left: 5px;
}

.enlace{
  margin-left: 20px;
}


 @media (max-width: 768px) {
  .row{
    margin-left: -20px;
    margin-top: -50px;
  }
  
  .enlace{
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  #menufoto {
    width: 170px;
    height: 290px;
  }

  .row{
    margin-left: -15px;
    margin-top: -50px;
  }

  .enlace{
    margin-top: 30px;
  }
}