@font-face {
    font-family: pizzeria;
    src: url(Hagin\ Caps\ Medium.otf);
}
*{
    font-family: pizzeria;
    
}
  body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pizzacarta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #principio{
    height: 160px;
  }

  #menu {
    text-align: center;
  }
  
  #menufoto {
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 510px;
  }

  #menufoto:hover {
    transform:scale(1.2); transition: all 0.7s;
  }

/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */
#menu {
  text-align: center;
  display: flex; /* Muestra los elementos en una fila horizontal */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 40px;
}

#menufoto {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 430px;
}

#menufoto:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#final{
  height: 150px;
}

