body {
  margin: 0;
  padding: 0;
  background-image: url(../img/masa2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#principio{
  height: 120px;
}

main{
  color: white;
}

#contacto{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  margin-left: 300px;
  width: 60%;
  height: 650px;
}

#contacto1{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  height: 60px;
}

h1{
  text-align: center;

}
h1:hover{
  transform:scale(1.2); transition: all 0.7s;
}

#espacio{
  height: 70px;
}

#fotologo {
  text-align: center; 
}

#logof {
  width: 500px; 
  height: auto;
}

#insta:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#facebook:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#x{
  height:48px ;
  width: 48px;
}

#x:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#tiktok:hover {
  transform:scale(1.2); transition: all 0.7s;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

#margenes {
  padding-left: 30px; 
  padding-right: 30px; 
}

#redes {
  text-align: center; 
}

#redes a {
  display: inline-block; 
  margin-right: 20px; 
}

#h1contacto {
  font-size: 24px; 
}
