@font-face {
  font-family: pizzeria;
  src: url(Hagin\ Caps\ Medium.otf);
}

* {
  font-family: pizzeria;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/pizzacarta2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#principio {
  height: 30px;
}

#espacio{
  height: 100px;
}
/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */

.container {
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 60%;
  height: 625px;
}

#row {
  border-radius: 10px;
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  height: 60px;
}

h2{
  margin-top: 15px;
}

h1, h2 {
  color: white;
  text-align: center;
}

h1{
  padding-top: 8px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: 1px solid dimgray;
  color: white;
}

p {
  text-align: center;
}

.ingrediente{
  color: white;
}

#ingre{
  margin-top: 25px;
}

.boton {
  margin-top: 25px;
}

#input{
  text-align: center;
}

#input input[type="button"] {
  border-radius: 10px;
  background-color: #FF9900;
  margin-bottom: 30px;
  width: 180px; 
  height: 50px; 
  font-size: 20px;
  font-weight: bold;
}

.esp{
  margin-left: 120px;
}

.esp:hover {
  transform: scale(1.3);
  transition: all 0.7s;
}

@media (max-width: 768px) {
  .container{
    margin-left: 110px;
    height: 590px;
    width: 70%;
  }
  h2{
    margin-top: 10px;
  }

  .d-block{
    margin-left: -80px;
  }

  .ingrediente{
    margin-left: -80px;
  }
}

@media (max-width: 540px) {
  .container{
    margin-bottom: 150px;
    margin-top: 30px;
    margin-left: 20px;
    height: 920px;
    width: 90%;
  }

  h2{
    margin-top: 20px;
  }

  .d-block{
    margin-left: -40px;
  }
  .ingrediente{
    margin-left: -40px;
  }
}