@font-face {
  font-family: pizzeria;
  src: url(Hagin\ Caps\ Medium.otf);
}

* {
  font-family: pizzeria;

}


nav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
}

.logoheader img {
  width: 220px;
  height: 60px;
  
}

.logoheader img:hover{
  transform: scale(1.2);
  transition: all 0.9s;
}

.menu {
  margin-top: 10px;
  font-size: 1.8em;
  list-style: none;
  display: flex;
}

<<<<<<< HEAD
.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.menu a:hover {
  color: #FF9900;
}

.menuicono {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menuicono span {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
}

.movilmenu {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #000;
  top: 60px;
  right: 20px;
  z-index: 1;
}

.movilmenu.active {
  display: flex;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .menu {
    display: none; 
  }

  .logoheader img {
    width: 170px;
    height: 40px;
  }

  .menuicono {
    display: flex;
  }

  .movilmenu.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: #000;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .movilmenu.active a {
      font-size: 2em; 
      text-align: center;
      margin: 10px 0; 
      color: #fff;
      transition: color 0.3s;
  }

  .movilmenu.active a:hover {
      color: #FF9900; 
  }

  .movilmenu.active a:first-child {
      margin-top: 30px; 
}

.movilmenu.active a:last-child {
    margin-bottom: 30px; 
}
}


=======
>>>>>>> c52645fa58673517203aaff800bd7d431e26463e
.whatsapp-button {
  position: fixed;
  top: 50%;
  right:-30px;
  transform: translateY(-50%);
  transform: translatex(20%);
  -webkit-transform: translatex(20%);
  -moz-transform: translatex(20%);
  -ms-transform: translatex(20%);
  -o-transform: translatex(20%);
}

.whatsapp-button a {
  display: block;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}

.whatsapp-button img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 4rem;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
}

footer * {
  margin-right: 20px;
  margin-top: 10px;
}


.vertical-bar1 {
  margin: 0 10px;
  display: inline-block;
} 

.vertical-bar {
  margin: 0 10px;
  display: inline-block;
}

.logoheader {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.logofooter{
  width: 150px;
  height: auto;
  vertical-align: middle;
}

@media (min-width: 501px) and (max-width: 800px){
  .vertical-bar {
    margin: 0 4px;
    display: inline-block;
  }

  .logofooter{
    width: 100px;
  }
  
 }

@media (max-width: 500px) {
  footer{
    font-size: 20px;
  }
  .logofooter{
    width: 0px;
  }

  .aviso{
    margin-left: 10px;
  }
  
}
@media (min-width: 801px) {
  .vertical-bar {
    margin: 0 5px;
    display: inline-block;
  }
  footer{
    font-size: 30px;
  }
 
 }