@font-face {
    font-family: pizzeria;
    src: url(Hagin\ Caps\ Medium.otf);
}
*{
    font-family: pizzeria;
    
}

  body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pizza7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #principio{
    height: 120px;
  }
 
  #eslogan {
    height: 550px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
  .grande {
    font-size: 40px; 
    color: white; 
    margin: 0; 
  }
  
  .pequeño {
    font-size: 30px;
    color: white; 
    margin: 0; 
  }
  
  