/*ESTA PARTE ES EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */
@font-face {
    font-family: pizzeria;
    src: url(Hagin\ Caps\ Medium.otf);
}
  *{
    font-family: pizzeria;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pizza2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
  }

/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */


/* EMPIEZAS A PARTIR DE AQUÍ A PONER TUS COSAS TONIIIIIII */
  .margen{
    margin:120px;
  }
  .fondo{
    background-image: url(../img/maderareserva2.jpg);
    background-image: no-repeat;
    background-size: cover;
    height: 500px;
  }
  #personas{
    width: 300px;
    height: 35px;
    text-align: center;
  }
  #hora{
    width: 300px;
    height: 35px;
    text-align: center;
  }
  #fecha{
    width: 150px;
    height: 35px;
    text-align: center;
  }