/*ESTA PARTE ES EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */
@font-face {
  font-family: pizzeria;
  src: url(Hagin\ Caps\ Medium.otf);
}
*{
  font-family: pizzeria;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/masa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#principio{
  height: 60px;
  
}

#insta:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#facebook:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#x{
  height:48px ;
  width: 48px;
}

#x:hover {
  transform:scale(1.2); transition: all 0.7s;
}

#tiktok:hover {
  transform:scale(1.2); transition: all 0.7s;
}

.redes{
  text-align: center; 
}

.redes a {
  display: inline-block; 
  margin-right: 20px; 
}


/*AQUÍ TERMINA EL ESTILO DE LA INTERFAZ QUE ESTÁ YA COMPLETA. NO LA TOQUES */

/* EMPIEZAS A PARTIR DE AQUÍ A PONER TUS COSAS NICOOOOOOO */
.titulo1 {
  left: 50%;
  color:#fff;
  text-align: center;
}

.texto1 {
  text-align: left;
  color: #fff;
  margin-left: 10px;
  margin-right: 20px;
  letter-spacing: 0.1em;
  line-height: 1.5; 
  word-spacing: 0.2em; 
}

.col-sm-3 {
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  text-align: center;
  background-color: #000000;
  width: 40%;
}
.h1{
  border-radius: 10px;
  border: 1px solid dimgray;
  text-align: center;
}

p {
  font-family: "Times New Roman", Times, serif;
}

#esp{
  height: 30px;
}

#espmax{
  height: 50px;
}

.tamañoca {
  width: 750px;
  margin-left: 24%;

  
}

.col-sm-3 {
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
}
.texto{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  margin-bottom: 10%;
  
}
.carrusel{
  margin-bottom: 5%;
}
.imagentoni{
  height: 200px;
  width: 200px;
  margin-left: 30%;
}
img.imagentoni:hover{
  transform: scale(1.1);
  transition: all 0.9s;
}
@media (max-width: 768px) {
  .imagentoni{
    height: 200px;
    width: 200px;
    margin-left: 35%;
    margin-bottom: 2%;
  }
 
  
}
@media (max-width: 540px) {
  .imagentoni{
    margin-bottom: 3%;
    margin-left: 75px;
  }
  
}
.titulolegal{
  line-height: 25px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid dimgray;
  height: 60px;
}
